.visible {
  display: block;
}

.novisible {
  display: none;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container img {
  flex: 0 0 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  scroll-snap-align: center;
  border-radius: 8px;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Botones */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(51, 51, 51, 0.8);
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

.slider-button {
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
}


body {
  background-color: red;
}

#menuInicial.visible {
  display: flex;
}

#menuInicial {
  display: none;
  /* por defecto oculto, hasta que se le agregue la clase visible */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 1.5rem;
}


#menuInicial h2 {
  font-size: 2rem;
}

#menuInicial button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#menuInicial button:hover {
  background-color: #555;
}

#visorCarta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Diseño móvil */
@media (max-width: 600px) {
  #menuInicial {
    flex-direction: column;
  }

  .scroll-container img {
    width: 95vw;
    padding: 0 10px;
  }
}

#menuInicial button {
  width: 80%;
}

#botonAtras {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  margin: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 5;
}

#botonAtras:hover {
  background-color: #555;
}