.visible {
  display: block;
}

.novisible {
  display: none;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container img {
  flex: 0 0 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  scroll-snap-align: center;
  border-radius: 8px;
}

/* Botones */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(51, 51, 51, 0.8);
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
}
.slider-button.left {
  left: 10px;
}
.slider-button.right {
  right: 10px;
}

body {
  background-color: red;
}